<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shaker Report</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

<h1>Shaker Report</h1>

<h5>Scenario:</h5>
<pre>{{ report.scenario }}
</pre>

<h5>Agents:</h5>
<ul>
    {% for agent in report.agents %}
    <li>ID: {{ agent.id }}, IP: {{ agent.ip }}, mode: {{ agent.mode }}</li>
    {% endfor %}
</ul>

{% for test in report.result %}
    <h2>{% if test.test_definition.title %}
            {{ test.test_definition.title }}
        {% else %}
            Test {{ test.test_definition }}
        {% endif %}
    </h2>

    {% for test_result in test.results %}
        <h3>Concurrency: {{ test_result.agents|length }}</h3>

        {% for result in test_result.results %}
            {% if result.agent %}
                <h4>Agent {{ result.agent.id }} ({{ result.agent.ip }})</h4>

                {% if result.command %}
                    <h5>Command:</h5>
                    <pre>{{ result.command }}</pre>
                {% endif %}

                {% if result.stdout %}
                    <h5>Stdout:</h5>
                    <pre>{{ result.stdout }}</pre>
                {% endif %}

                {% if result.stderr %}
                    <h5>Stderr:</h5>
                    <pre>{{ result.stderr }}</pre>
                {% endif %}
            {% endif %}
        {% endfor %}

    {% endfor %}

{% endfor %}

</div>
</body>
</html>
